<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
    <title>Reward</title>
    <link rel='stylesheet' href='/css/AdminCss/Adminstyle.css' />
    <link rel="stylesheet" href="/css/AdminCss/Responsive.css">
</head>

<body>

    <!-- for header part -->
    <header>

        <%- include('./AdminHeader.ejs')  %>

    </header>

    <div class="main-container">
        <div class="navcontainer">
            <%- include('./AdminNaveBar.ejs')  %>
        </div>

        
        <div class="main">

            <div class="searchbar2">
                <input type="text" name="" id="" placeholder="Search">
                <div class="searchbtn">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
                        class="icn srchicn" alt="search-button">
                </div>
            </div>

            <div class="box-container">

                <form method="post">
                    <div class="box box1">
                        <div class="text">
                            <h2 class="topic-heading"></h2>

                            <h2 class="topic"> Text </h2>

                            <textarea name="RewardText" id="" cols="26" rows="5"> </textarea>
                        </div>


                    </div>

                    <div class="box box2">
                        <div class="text">
                            <h2 class="topic">Pointes</h2>
                            <h3 class="topic-heading"><input type="number" name="RewardPointes" value="0"></h3>
                            <!-- <h4 class="topic"></h4> -->
                        </div>

                    </div>

                    <div class="box box3">
                        <div class="text">
                            <h2 class="topic">Rupes</h2>
                            <h3 class="topic-heading"><input type="number" name="RewardRupes" value='0'></h3>
                        </div>

                    </div>

                    <div class="box box4">
                        <div class="text">
                            <h2><button type="submit">Add Reward</button></h2>

                        </div>

                    </div>
                </form>
            </div>

            <div class="report-container">
                <div class="report-header">
                    <h1 class="recent-Articles">Reward</h1>
                    <button class="view">View All</button>
                </div>

                <div class="report-body">


                    <table>

                        <thead>
                            <tr>
                                <td>No</td>
                                <td>__ID</td>
                                <td>REWARD TEXT</td>
                                <td>POINT</td>
                                <td>RUPES</td>
                                <td>DATE</td>
                                <td>__v</td>
                                <td>SUCCES</td>
                                <td>Delete</td>

                            </tr>

                        </thead>

                        <tbody>
                            <% for (let i=0; i < data.length; i++) { %>

                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= data[i]._id %>
                                    </td>
                                    <td>
                                        <%=data[i].TEXT%>
                                    </td>
                                    <td>
                                        <%=data[i].POINTS %>
                                    </td>
                                    <td>
                                        <%=data[i].RUPES%>
                                    </td>
                                    <td>
                                        <%=data[i].date %>
                                    </td>
                                    <td>
                                        <%=data[i].__v%>
                                    </td>
                                    <td> <button>✔</button> </td>
                                    <td><a href="/qrreward/<%= data[i]._id %>"> <button>❌</button> </a> </td>
                                </tr>


                                <% } %>

                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>